body{
    font-family: "Poppins";
}
.quest{
    text-align: center;
    font-family: "Poppins";
    font-size: large;
}

ul.myul{
    display: inline-block;
    text-align: left;
}

li a{
    text-decoration: none;
}



